@import "tailwindcss";

@theme {
  /* Greens */
  --color-mikro-green: rgb(10 133 81);          /* #0A8551 */
  --color-mikro-green-light: rgb(24 173 86);    /* #18AD56 */
  --color-mikro-green-lighter: rgb(99 236 122); /* #63EC7A */
  --color-mikro-green-dark: rgb(3 111 86);      /* #036F56 */

  /* Yellows */
  --color-mikro-yellow: rgb(239 183 76);        /* #EFB74C */
  --color-mikro-yellow-light: rgb(255 226 138); /* #FFE28A */

  /* Grays */
  --color-mikro-gray: rgb(170 170 170);         /* #AAAAAA */
  --color-mikro-gray-light: rgb(238 238 238);   /* #EEEEEE */
}